
<div class="h-100 p-5 rounded-3 mt-5" style="background-color:whitesmoke">
    <h1 class="display-5 fw-bold">Alışveriş Sitesi</h1>
    <p class="fw-bold text-danger fs-4">Bir alışveriş terapisi</p>
   
</div>